.Dropdown {
    color: #fff;
    display: inline-block;
    overflow: hidden;
    opacity: 0.5;
}

.Dropdown__head {
    padding: 1rem;
    display: inline-block;
}

.Dropdown > .Dropdown__body {
    position: absolute;
    visibility: collapse;
    background: #ffffff;
}
.Dropdown.Dropdown--hover {
    opacity: 1;
}

.Dropdown.Dropdown--hover:hover .Dropdown__head {
    color: #0e354d;
    background: #ffffff;
}

.Dropdown:hover > .Dropdown__body {
    visibility: visible;
}

.Dropdown__label {
    text-transform: uppercase;
    font-size: 0.65rem;
    color: #253e4d;
    line-height: 1.2rem;
    display: block;
}

.Dropdown__title > i {
    margin: 0 5px;
}

.Dropdown__item,
.Dropdown__item a {
    display: block;
    min-width: 180px;
}

.Dropdown__item a {
    padding: 1rem;
    text-decoration: none;
    color: #0e354d;
}

.Dropdown__item a:hover {
    background-color: #ddd;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    [data-dropdown-collapse]:checked ~ .Dropdown__head {
        color: #0e354d;
        background: #ffffff;
    }

    [data-dropdown-collapse]:checked ~ .Dropdown__body {
        visibility: visible;
    }
}
