doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{name}
        meta(name='description' content=description)
        meta(name='viewport' content='initial-scale=1')
        link(rel='apple-touch-icon' href='/icon.png')
        link(rel='manifest' href='/manifest.json')
        meta(name='theme-color' content='#248fcb')

    unless dev
        link(type="text/css" rel="stylesheet" href='/assets/client.css')
    script(defer type='text/javascript' src='/assets/client.js')

    block body
        body

