doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{name}
        meta(name='description' content=description)
        meta(name='viewport' content='initial-scale=1')
        link(rel='apple-touch-icon' href='/icon.png')
        link(rel='manifest' href='/manifest.json')
        meta(name='theme-color' content='#248fcb')

    block script
        if req.params.routing !== "None"
            link(type="text/css" rel="stylesheet" href='/assets/' + req.params.routing.replace(/\s/g, '') + '.css')
            script(defer type='text/javascript' src='/assets/' + req.params.routing.replace(/\s/g, '') + '.js')
        else
            link(type="text/css" rel="stylesheet" href='/assets/' + req.params.channel.replace(/\s/g, '') + '.css')
            script(defer type='text/javascript' src='/assets/' + req.params.channel.replace(/\s/g, '') + '.js')
    block body
        body
