block body

link(type="text/css" rel="stylesheet" href=CURRENT.options.url + 'api/fragments/' + req.params.type + '.css')
script(defer type='text/javascript' src=CURRENT.options.url + 'api/fragments/' + req.params.type + '.js')
