extends ./blank

block main
    .Layout.Layout--fullBleed.Layout--shadow.Layout--bordered(class='Layout--sideBarRight@md')
        .Column.Column--fullBleed.Column--borderBottom
            block top
        .Column(class='Column--borderBottom!xs Column--borderRight@md')
            block left
        .Column
            block right
